footer {
    background-color: var(--header-footer-bg);
    padding: 10px 10px;
    text-align: center;
    color: var(--header-footer-text);
    border-top: 1px solid var(--input-border-color);
}

#footer_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#copyright {
    margin-right: auto;
    color: var(--header-footer-text);
}

footer a {
    color: var(--header-footer-text);
}

footer a img {
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    #home {
        flex-direction: column;
        text-align: center;
    }

    .banner-content, #banner img {
        max-width: 100%;
    }

    .technologies {
        justify-content: center;
    }

    .project-list {
        grid-template-columns: 1fr;
    }
}

.social-media-buttons a {
    margin: 0 10px;
    display: inline-block;
}

.social-media-buttons img {
    width: 40px;
    height: 40px;
}